
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:  100%;
}
.container>div{
    display: block;
   margin-top: 100px;    
}
.incrementa, .decrementa{
    background-color: lightgrey;
    color: #222;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    margin: 0 5px;
    position: relative;
    top: 40px;
    border:none
}
.contatore{
    font-size: 30px;
    font-weight: bold;
    color: black;
}

